<div class="Description">
  <h1>自分だけの英単語超です。</h1>

  <%= render "devise/shared/share_button" %>
  <p>どんどん登録して英語マスターになろう！</p>
  <h4>英単語超とは</h4>
  <p>ネットサーフィンしているときなど、わからない英単語があったときに<br>
  調べて終わりではなく、このサイトに登録して後から見返すことで(反復<br>
  学習として)、英単語の勉強を効率化し、手助けをするサービスです。</p>
</div>
