<%= render 'shared/form.html.erb' %>

<h1>Home#index</h1>
<p>登録順</p>

<ul>
<% @words.each do |word| %>
  <li class="word">
    <div class="japanese">
      <%= word.japanese %>
    </div>
    <div class="english" style="display:none;">
      <%= word.english %>
    </div>
  </li>
<% end %>
</ul>
