<div class="words">
  <ul>
  <% @words.each do |word| %>
    <li class="word">
      <div class="english">
        <%= word.english %>
      </div>
      <div class="japanese" style="display:none;">
        <%= word.japanese %>
      </div>
    </li>
  <% end %>
  </ul>
</div>
