.deleteWord {
  background-color: #3e68bb;
  color: #fff;
}
.deleteWord:hover {
  letter-spacing: 5px;
}
.completeWord {
  background-color: #3e68bb;
  color: #fff;
}
.completeWord:hover {
  letter-spacing: 5px;
}
.editDialog {
  background-color: #3e68bb;
  color: #fff;
}
.editDialog:hover {
  letter-spacing: 5px;
}
