.deleteWord {
  background-color: #EEE;
  color: #3e68bb;
}
.deleteWord:hover {
  letter-spacing: 5px;
}
.completeWord {
  background-color: #EEE;
  color: #3e68bb;
}
.completeWord:hover {
  letter-spacing: 5px;
}
.editDialog {
  background-color: #EEE;
  color: #3e68bb;
}
.editDialog:hover {
  letter-spacing: 5px;
}
