.nav form {
  float: left;
  width: 200px;
  height: 55px;
}
.nav form {
  display: none;
}
.nav button {
  display: none;
}
#new_word {
  float: left;
  height: 50px;
  width:  100px;
  margin-top: 1px;
  font-family:Arial, sans-serif;
  font-size:1.2em;
  text-transform:uppercase;
  font-weight:bold;
  cursor:pointer;
}
input:focus {
  border:solid 2px #7ba3d3;
}
div.sortTag {
  display: none;
  margin: 10px 20px 0;
}
div.boxComplete {
  float: left;
  width: 400px;
  height: 55px;
  margin: 0 20px;
  text-align: center;
}
