.newForm {
  float: left;
  margin-right: 10px;
}
.nav form {
  float: left;
  display: none;
}
.nav button {
  display: none;
}
#new_word {
  float: left;
  height: 48px;
  margin-top: 3px;
  margin-left: 10px;
  font-family:Arial, sans-serif;
  font-size:1.2em;
  text-transform:uppercase;
  font-weight:bold;
  cursor:pointer;
}
input:focus {
  border:solid 2px #7ba3d3;
}
.sortTag {
  float: left;
  margin: 8px 0;
}
.sortButton {
  border: 2px solid #333;
  font-family:Arial, sans-serif;
  font-size:0.7em;
  font-weight:bold;
  background: #EEE;
  border-top: 1px solid #DDD;
  border-left: 1px solid #DDD;
  border-right: 1px solid #BBB;
  border-bottom: 1px solid #BBB;
  color:#111;
  width: 100px;
  padding: 10px 0;
  cursor: pointer;
}
.sortButton:hover {
  background-color: #fff;
  border-color: #59b1eb;
  color: #59b1eb;
}
.sortButton::before,
.sortButton::after {
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #333;
}
.sortButton::before {
  right: 0;
}
.sortButton::after {
  left: 0;
}
.sortButton:hover::before,
.sortButton:hover::after {
  width: 0;
  background-color: #59b1eb;
}
.boxComplete {
  float: left;
  width: 400px;
  height: 55px;
  margin: 0 20px;
  text-align: center;
}
.count {
  float: left;
  width: 200px;
  height: 50px;
  margin-left: 10px;
  text-align: right;
  display: none;
}
