ul.wordUl {
  height:75px;
  width: 200px;
  padding: 0px;
  margin: 0px 4px;
  float: left;
  li.word {
    width: 200px;
    height: 50px;
    background: #88c857;
    list-style: none;
    div.japanese, div.english {
      width: 200px;
      height: 25px;
      text-align: center;
      position: relative;
      top: 12px;
    }
  }
  li.wordComplete {
    color: white;
    width: 200px;
    height: 50px;
    background: #88c857;
    list-style: none;
    div.japanese, div.english {
      width: 200px;
      height: 25px;
      text-align: center;
      position: relative;
      top: 12px;
    }
  }
  li.menu {
    width: 200px;
    height: 25px;
    text-align: center;
    list-style: none;
  }
}
.nav {
  padding: 20px;
  background: #dff4e9;
  position: fixed;
  z-index: 1 ;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.navFirst {
  position: fixed;
  top: 0;
  .navMessage {
    padding: 0;
    margin: 0;
  }
}
li.complete {
  color: white;
}
a.navbar-link {
  text-decoration: none;
  border: 2px solid #333;
  background: #EEE;
  border-top: 1px solid #DDD;
  border-left: 1px solid #DDD;
  border-right: 1px solid #BBB;
  border-bottom: 1px solid #BBB;
  color:#111;
  cursor: pointer;
}
.sessionSupport a {
  text-decoration: none;
  border: 2px solid #333;
  background: #EEE;
  border-top: 1px solid #DDD;
  border-left: 1px solid #DDD;
  border-right: 1px solid #BBB;
  border-bottom: 1px solid #BBB;
  color:#111;
  cursor: pointer;
}
#siteFooter {
  width: 100%;
  float: none;
  position: absolute; /* 絶対位置指定することを定義 */
  position:fixed;
  bottom: 0px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  color: rgba(0,0,0,0.6);
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
  0px -5px 16px rgba(255,255,255,0.3);
  font-weight: 700;
  a {
    text-decoration: none;
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
    0px -5px 16px rgba(255,255,255,0.3);
    font-weight: 700;
  }
}
