ul.wordUl {
  height:75px;
  width: 200px;
  padding: 0px;
  margin: 0px 4px;
  float: left;
  li.word {
    width: 200px;
    height: 50px;
    background: #88c857;
    list-style: none;
    div.japanese, div.english {
      width: 200px;
      height: 25px;
      text-align: center;
      position: relative;
      top: 12px;
    }
  }
  li.menu {
    width: 200px;
    height: 25px;
    text-align: center;
    list-style: none;
  }
}
.nav {
  padding: 20px;
  background: #dff4e9;
  position: fixed;
  z-index: 1 ;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.navFirst {
  position: fixed;
  top: 0;
  .navMessage {
    padding: 0;
    margin: 0;
  }
}
