li.word {
  float: left;
  width: 200px;
  height: 50px;
  margin: 20px;
  background: #cccccc;
  list-style: none;
  div {
    width: 100px;
    height: 25px;
    margin: 12px 50px;
    text-align: center;
  }
}
